/* ==========================
   Style de la Section Héro
========================== */
.hero-section {
    background: linear-gradient(rgba(59, 209, 202, 0.819), rgba(150, 103, 103, 0.337)), url('/images/hero-bg.jpg'); /* Ajoute une image de fond */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.hero-section .container {
    max-width: 800px;
}

.hero-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.hero-section p {
    font-size: 1.2rem;
}

.hero-section .btn {
    font-size: 1.2rem;
    padding: 10px 25px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero-section .btn:hover {
    background-color: #d0242441; /* Changer la couleur au survol */
}


/* ==========================
   Style de l'élément h2 (Titre de la section des médecins)
========================== */
section h2 {
    color: rgba(46, 217, 208, 0.819);
    font-size: 1.7rem; /* Taille du texte */
    font-weight: 600; /* Légèrement plus gras pour attirer l'attention */
    margin-bottom: 30px; /* Espace sous le titre */
    text-transform: uppercase; /* Mettre le texte en majuscules */
    letter-spacing: 1px; /* Espacement des lettres pour un effet stylisé */
    text-align: center; /* Centrer le texte */
}


/* ==========================
   Style des Cartes Médecins
========================== */
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

.card .btn {
    padding: 8px 20px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.card .btn:hover {
    background-color: rgba(59, 209, 202, 0.819);
    color: white;
}

