{% extends 'base.html.twig' %}

{% block title %}Modifier Disponibilité{% endblock %}

{% block body %}
<h1>Modifier Disponibilité</h1>

{{ include('disponibilite/_form.html.twig', {'form': form, 'button_label': 'Mettre à jour'}) }}

<a href="{{ path('app_disponibilite_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
